<dir-app> </dir-app>
<!-- <demo-app> </demo-app> -->
<!-- <h1> Welcome to first demo </h1>
<div class="box"> 100 </div>

<pre>
using class binding we can bind more than one class together

Done by Property binding 

</pre> -->

<!-- <div class="box" [class.myClass]="false"> 200 </div>

<div class="box" [class.myClass]="myProp"> 300 </div>

<div class="box" [style.margin]="'20px'"> 500 </div>
<div class="box" [style.margin]="myProp2"> 400 </div>

Ternary Operator
expression ? if its true: if its false

<div class="box" [style.margin]="isActive?myProp2:'5px'"> 100000 </div> -->
<!-- 
<div class="box" [ngClass]="'class1 class2 class3'"> New div </div>


<div class="box" [ngClass]="multiClasses"> New div </div>

<div class="box" [ngStyle]="{
  'background-color':'red',
  'border':'10px solid yellow'
}"> 200 </div>

<div class="box" [ngStyle]="multiStyles"> 200 </div>

 -->

<!--  -->
 <!-- <button value="Laptop" (click)="onClick($event)"> Laptop </button>

 <button value="Desktop" (click)="onClick($event)"> Desktop </button>

 <button value="Tab" (click)="onClick($event)"> Tab </button> -->








<!-- <app-first-comp> </app-first-comp>
<second-app> </second-app>
<app-third-comp> </app-third-comp>  -->